
/* Your CSS Code here. */
.container{
    width: 200px;
    background-color: purple;
    border-left: 5px solid;
    border-left-color:green ;    
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: underline;
}